[package]
name = "markdown-reader"
description = "A simple markdown reader that uses ratatui to render markdown files."
version = "0.1.13"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/joshka/tui-markdown"
documentation = "https://docs.rs/markdown-reader"
authors = ["Joshka"]
categories = ["command-line-interface"]
keywords = ["cli", "markdown", "ratatui", "terminal", "tui"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.5.13", features = ["derive"] }
color-eyre = "0.6.3"
itertools = "0.13.0"
ratatui = { version = "0.27.0", features = ["unstable-widget-ref"] }
tracing = "0.1.40"
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
time = { version = "0.3.36", features = ["formatting", "macros"] }
tui-markdown = { version = "0.2.6", path = "../tui-markdown" }

[[bin]]
name = "mdr"
path = "src/main.rs"
